@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
